body{
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.first {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}
.text {
    padding: 40px;
    max-width: 50%;
}
.text h1{
    width: 20rem;
}
.text .edition{
    font-size: 20px;
}
.text p{
width: 30rem;

}
.button{
    margin-top: 20rem;

}
.button a{
    text-decoration: none;
    background-color: teal;
    color: white;
    display: inline-block;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 20px;
    margin-right: 20px;
    justify-content: right;
}
.grid {
    max-width: 50%;
}
.grid img{
    width: 30rem;
    height: 100%;
    border-radius: 3rem;
}